유튜브: https://youtu.be/ncvKbxOGtyE

# 주가 불러오기

In [ ]:
import FinanceDataReader as fdr

In [2]:
df_finance = fdr.DataReader(symbol='028300')
df_finance.tail()

             Open   High    Low  Close   Volume    Change
Date
2022-05-27  51500  51600  46400  46950  1769141 -0.045732
2022-05-30  46450  47350  43350  44000  2238474 -0.062833
2022-05-31  44700  45500  43850  45500  1535647  0.034091
2022-06-02  44900  46300  44150  44950   938672 -0.012088
2022-06-03  45050  45150  43100  43350  1109806 -0.035595

# 구간 자르기

### 유무상증자

In [17]:
유무상증자 = df_finance['2020-03-19':'2020-06-02']
len(유무상증자)

50

In [18]:
low = 유무상증자['Low'].iloc[0]
high = 유무상증자['High'].iloc[-1]
profit = (high-low) / low
profit

0.7882967365900106

### 두번째

In [19]:
두번째 = df_finance['2020-08-12':'2020-09-21']
len(두번째)

28

In [20]:
low = 두번째['Low'].iloc[0]
high = 두번째['High'].iloc[-1]
profit = (high-low) / low
profit

0.7131713554987212

### 216

In [22]:
이일육 = df_finance['2021-02-18':'2021-03-19']
len(이일육)

21

In [23]:
low = 이일육['Low'].iloc[0]
high = 이일육['High'].iloc[-1]
profit = (high-low) / low
profit

0.5782617409312579

### 나노코박스

In [24]:
나노코박스 = df_finance['2021-05-04':'2021-09-07']
len(나노코박스)

88

In [25]:
low = 나노코박스['Low'].iloc[0]
high = 나노코박스['High'].iloc[-1]
profit = (high-low) / low
profit

1.1971383147853736

### 간암 통계적 유의성

In [26]:
간암 = df_finance['2022-02-15':'2022-05-18']
len(간암)

64

In [27]:
low = 간암['Low'].iloc[0]
high = 간암['High'].iloc[-1]
profit = (high-low) / low
profit

0.8732394366197183