# Background
눌림돌파매매는 승률과 수익률이 좋다.  
충분히 눌려주었기 때문이다.  
충분히 눌렸다는 건 이동평균선이 모였다는 것이고 이격도가 크지 않다는 뜻이다.  
반면에 급등주 고점 추격매수는 급락하여 손실을 보기 쉽다.  
고점매수는 이격도가 벌어졌다는 뜻이다.  
따라서 이격도를 체크해보면 어떤 의미 있는 관계를 발견할 가능성이 있다.  
유튜브: https://youtu.be/xJl60DDzZt8

# Import

In [58]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
%matplotlib inline

# Data #1

In [59]:
df = pd.read_csv('data.csv')
df = df[df['종목명'] == '코스모화학']
df = df.reset_index(drop=True)
df.head()

,주문일자,체결시간,종목명,매수가,수익률,매매기법,종목코드,매수등락률,고가등락률,시가등락률,뉴스기사
0,2022-04-08,09:47:28,코스모화학,16250,-1.85,NaN,5420,11.68,13.06,0.69,1

# Data #2

In [60]:
frame = pd.read_csv('2022-04-08_005420_코스모화학.csv')
frame.head()

,날짜,시간,시가,고가,저가,종가,종가 단순 5,10,20,60,120,거래량,단순 5,20.1,60.1,120.1
0,2022-04-08,15:35:00,15550,15550,15550,15550,15580,15590,15572.5,15568.33,15557.92,3249,14606.4,6265.00,3865.967,3562.975
1,2022-04-08,15:30:00,15550,15550,15550,15550,15590,15590,15572.5,15567.50,15556.67,27231,14331.6,6299.30,3817.417,3543.492
2,2022-04-08,15:19:00,15600,15650,15500,15650,15600,15590,15570.0,15566.67,15555.42,19996,9152.4,5037.55,3371.450,3338.650
3,2022-04-08,15:18:00,15550,15650,15550,15550,15590,15585,15562.5,15565.00,15552.92,19529,5754.4,4045.85,3057.233,3183.325
4,2022-04-08,15:17:00,15600,15600,15550,15600,15600,15590,15562.5,15565.00,15551.67,3027,2431.8,3146.30,2743.050,3036.733

# Preprocessing

In [71]:
df['체결시간'] = pd.to_datetime(df['체결시간']).apply(lambda x : x.replace(second=00))
time = df['체결시간'].iloc[0]
buy = df['매수가'].iloc[0]

frame['시간'] = pd.to_datetime(frame['시간']).apply(lambda x : x.replace(second=00))
frame = frame[frame['시간'] == time]
frame = frame.reset_index(drop=True)
twenty = frame['20'].iloc[0]
print('매수가격:', buy)
print('20일선:', twenty)

매수가격: 16250
20일선: 15262.5

In [73]:
change = round(((buy-twenty) / twenty)*100, 2)
print('이격도:', change, '%')

이격도: 6.47 %

# Visualization

![코스모화학](코스모화학.png)

# Conclusion
1분봉 20일선과 이격도가 6% 이상일 때 진입하면 손실을 볼 가능성이 있다.