# 승리와 패배의 비율
유튜브: https://youtu.be/Evu4rGug8UU

In [4]:
import pandas as pd

In [5]:
df = pd.read_csv('data.csv')

In [7]:
df['WinLoss'] = df['Return'] > 0

In [9]:
df['WinLoss'].value_counts()

False    123
True      74
Name: WinLoss, dtype: int64

In [10]:
df_counts = df['WinLoss'].value_counts().to_frame()
df_counts

       WinLoss
False      123
True        74

In [11]:
df_counts.rename(columns={'WinLoss':'Counts'}, inplace=True)
df_counts

       Counts
False     123
True       74

In [12]:
df_counts.index.name = 'WinLoss'
df_counts

         Counts
WinLoss
False       123
True         74

In [15]:
df_counts['Probability'] = round(df_counts['Counts'] / df_counts['Counts'].sum(),2)
df_counts

         Counts  Probability
WinLoss
False       123         0.62
True         74         0.38