# ① datetime 이해하기
유튜브: https://youtu.be/q_Dv6Xd-ZmE

### Import

In [5]:
import pandas as pd
import datetime

### Load

In [18]:
df = pd.read_csv('data.csv')
df.head()

         주문일자      체결시간    종목명    주문유형 체결수량 체결평균단가
0  2022/03/29  09:09:07  고려시멘트  현금매수 K   80  5,230
1  2022/03/29  09:09:07  고려시멘트  현금매수 K  150  5,230
2  2022/03/29  09:09:07  고려시멘트  현금매수 K  184  5,230
3  2022/03/29  09:21:27  고려시멘트  현금매도 K  371  5,380
4  2022/03/29  09:21:27  고려시멘트  현금매도 K   43  5,380

### 2022/03/29 → 2022-03-29

In [19]:
# 방법1
df = pd.read_csv('data.csv')
df['주문일자'] = df['주문일자'].str.replace('/','-')
print(df.loc[0, '주문일자'])
print(type(df.loc[0, '주문일자']))

2022-03-29
<class 'str'>

In [20]:
# 방법2
df = pd.read_csv('data.csv')
df['주문일자'] = pd.to_datetime(df['주문일자'])
print(df.loc[0, '주문일자'])
print(type(df.loc[0, '주문일자']))

2022-03-29 00:00:00
<class 'pandas._libs.tslibs.timestamps.Timestamp'>

### 주문일자 → index

In [22]:
df.set_index('주문일자', inplace=True)
df.head()

                체결시간    종목명    주문유형 체결수량 체결평균단가
주문일자
2022-03-29  09:09:07  고려시멘트  현금매수 K   80  5,230
2022-03-29  09:09:07  고려시멘트  현금매수 K  150  5,230
2022-03-29  09:09:07  고려시멘트  현금매수 K  184  5,230
2022-03-29  09:21:27  고려시멘트  현금매도 K  371  5,380
2022-03-29  09:21:27  고려시멘트  현금매도 K   43  5,380

In [32]:
df['2022-03'].tail()

                체결시간    종목명    주문유형 체결수량 체결평균단가
주문일자
2022-03-31  14:11:15  TJ미디어  현금매도 K    2  8,840
2022-03-31  14:11:16  TJ미디어  현금매도 K  221  8,840
2022-03-31  14:16:33  TJ미디어  현금매수 K   50  8,810
2022-03-31  14:17:33  TJ미디어  현금매도 K   50  8,810
2022-03-31  14:19:59   대한전선    현금매수  500  1,810

In [37]:
df['2022-03-29':'2022-03-30'].tail()

                체결시간    종목명    주문유형 체결수량 체결평균단가
주문일자
2022-03-30  14:46:57  남선알미늄    현금매도  228  4,320
2022-03-30  15:17:09    유니크  현금매수 K   66  6,940
2022-03-30  15:17:09    유니크  현금매수 K    7  6,940
2022-03-30  15:17:19    유니크  현금매도 K   13  7,190
2022-03-30  15:17:19    유니크  현금매도 K   60  7,190

In [41]:
df.truncate(after='2022-03-30').tail()

                체결시간    종목명    주문유형 체결수량 체결평균단가
주문일자
2022-03-30  14:46:57  남선알미늄    현금매도  228  4,320
2022-03-30  15:17:09    유니크  현금매수 K   66  6,940
2022-03-30  15:17:09    유니크  현금매수 K    7  6,940
2022-03-30  15:17:19    유니크  현금매도 K   13  7,190
2022-03-30  15:17:19    유니크  현금매도 K   60  7,190

In [42]:
df.index.is_unique

False

### datetime

In [52]:
from datetime import datetime
now = datetime.now()
now

datetime.datetime(2022, 4, 27, 18, 42, 23, 868310)

In [53]:
now.year, now.month, now.day

(2022, 4, 27)

### timedelta

In [58]:
delta = datetime(2022, 4, 27) - datetime(2022, 4, 25, 9, 45)
delta

datetime.timedelta(days=1, seconds=51300)

In [59]:
delta.days

1

In [60]:
delta.seconds

51300

# ② 오전장 vs 오후장
오전장: 09:00~12:00  
오후장: 12:00~13:30

In [35]:
df = pd.read_csv('data2.csv')
df.head()

,주문일자,종목명,매수가격,매수시간,매도시간,수익률,매매순서,최대거래대금 시간,최대거래대금,직전 거래대금,양봉개수,10이격도,20이격도,60이격도,종목코드,매수등락률,시가등락률,뉴스기사
0,2022-03-29,고려시멘트,5230,2022-04-28 09:09:07,09:21:27,2.57,1,09:06:00,113,63,1,4.38,9.72,13.32,198440.0,16.22,6.22,1
1,2022-03-29,고려시멘트,5410,2022-04-28 09:28:09,09:32:19,1.55,2,09:06:00,113,16,2,0.93,1.72,11.55,198440.0,20.22,6.22,1
2,2022-03-29,영진약품,5490,2022-04-28 09:51:11,09:55:24,0.36,3,09:50:00,62,62,1,1.57,1.94,4.43,3520.0,6.60,0.19,1
3,2022-03-29,버킷스튜디오,5060,2022-04-28 09:58:16,09:59:56,-0.89,4,09:22:00,72,26,0,0.87,2.06,4.17,66410.0,11.58,3.09,1
4,2022-03-29,우리바이오,4390,2022-04-28 10:00:40,10:00:50,-0.87,5,10:00:00,44,43,3,3.56,4.06,4.23,82850.0,10.86,4.17,1

In [36]:
df['매수시간'] = pd.to_datetime(df['매수시간'])
df.loc[0, '매수시간'].time()

datetime.time(9, 9, 7)

In [37]:
datetime.time(12, 0, 0)

datetime.time(12, 0)

In [38]:
df.loc[0, '매수시간'].time() < datetime.time(12, 0, 0)

True

In [39]:
df['매수시간'] = df['매수시간'].apply(lambda x : x.time())
df.head()

,주문일자,종목명,매수가격,매수시간,매도시간,수익률,매매순서,최대거래대금 시간,최대거래대금,직전 거래대금,양봉개수,10이격도,20이격도,60이격도,종목코드,매수등락률,시가등락률,뉴스기사
0,2022-03-29,고려시멘트,5230,09:09:07,09:21:27,2.57,1,09:06:00,113,63,1,4.38,9.72,13.32,198440.0,16.22,6.22,1
1,2022-03-29,고려시멘트,5410,09:28:09,09:32:19,1.55,2,09:06:00,113,16,2,0.93,1.72,11.55,198440.0,20.22,6.22,1
2,2022-03-29,영진약품,5490,09:51:11,09:55:24,0.36,3,09:50:00,62,62,1,1.57,1.94,4.43,3520.0,6.60,0.19,1
3,2022-03-29,버킷스튜디오,5060,09:58:16,09:59:56,-0.89,4,09:22:00,72,26,0,0.87,2.06,4.17,66410.0,11.58,3.09,1
4,2022-03-29,우리바이오,4390,10:00:40,10:00:50,-0.87,5,10:00:00,44,43,3,3.56,4.06,4.23,82850.0,10.86,4.17,1

In [40]:
df[df['매수시간'] > datetime.time(12, 0, 0)]

,주문일자,종목명,매수가격,매수시간,매도시간,수익률,매매순서,최대거래대금 시간,최대거래대금,직전 거래대금,양봉개수,10이격도,20이격도,60이격도,종목코드,매수등락률,시가등락률,뉴스기사
13,2022-03-29,룽투코리아,6580,13:58:41,09:05:58,16.72,14,13:27:00,42,18,3,3.98,4.99,12.52,60240.0,27.52,0.19,1
14,2022-03-29,우리바이오,5000,14:53:28,14:53:58,0.10,15,10:00:00,44,12,2,1.38,2.25,2.17,82850.0,26.26,4.17,1
22,2022-03-30,시공테크,9950,12:05:02,12:08:57,-0.60,8,11:46:00,56,15,0,1.49,4.18,14.42,20710.0,26.43,6.10,0
23,2022-03-30,자연과환경,2295,12:11:34,12:16:21,-0.08,9,12:06:00,47,30,1,4.15,6.21,10.32,43910.0,4.56,-5.47,0
24,2022-03-30,아이스크림에듀,8830,12:16:56,12:17:46,-0.07,10,12:16:00,62,22,2,3.17,4.59,9.05,289010.0,22.98,10.03,0
25,2022-03-30,바이오에프디엔씨,22150,12:18:29,12:19:34,0.60,11,12:18:00,9,0,3,4.53,4.70,5.28,251120.0,15.36,-0.26,0
26,2022-03-30,남선알미늄,4355,14:40:36,14:46:57,-1.10,12,09:00:00,193,91,2,1.20,1.14,1.74,8350.0,21.99,6.86,0
27,2022-03-30,유니크,6940,15:17:09,15:17:19,3.30,13,15:15:00,20,6,9,9.60,12.32,15.98,11320.0,20.91,0.87,1
34,2022-03-31,대신정보통신,2300,13:13:20,13:13:58,-0.52,7,12:49:00,41,29,0,2.45,2.36,7.59,20180.0,15.29,-4.01,1
35,2022-03-31,코리아에프티,3555,13:15:51,13:18:30,1.25,8,13:15:00,22,0,0,4.59,4.76,6.25,123410.0,10.06,0.77,0
36,2022-03-31,대한전선,1795,13:31:27,14:09:01,-1.14,9,12:22:00,85,7,0,0.53,0.60,0.15,1440.0,25.96,1.05,1
37,2022-03-31,TJ미디어,8540,14:09:05,14:11:15,3.21,10,09:52:00,78,14,0,1.52,2.66,3.84,32540.0,19.61,2.66,1
38,2022-03-31,TJ미디어,8810,14:16:33,14:17:33,-0.30,11,09:52:00,78,7,0,0.58,3.25,6.15,32540.0,23.39,2.66,1
39,2022-03-31,대한전선,1810,14:19:59,09:00:07,7.43,12,12:22:00,85,14,2,1.00,1.26,1.16,1440.0,27.02,1.05,1
51,2022-04-01,아이오케이,1570,13:05:00,13:31:14,1.61,12,09:02:00,50,1,0,0.54,1.27,2.04,78860.0,27.13,25.91,1
52,2022-04-01,이수앱지스,8550,14:35:08,14:35:47,-0.42,13,14:01:00,32,14,0,1.20,2.23,4.22,86890.0,26.67,0.00,1
53,2022-04-01,네오셈,3975,14:37:13,14:38:07,-4.83,14,14:35:00,24,15,0,2.95,4.57,5.72,253590.0,7.43,-2.03,0
54,2022-04-01,이수앱지스,8530,14:38:58,14:42:15,-0.30,15,14:01:00,32,8,0,0.29,1.40,3.67,86890.0,26.37,0.00,1
55,2022-04-01,잇츠한불,25050,14:47:04,14:49:26,4.69,16,11:45:00,41,10,3,0.93,1.46,-0.37,226320.0,21.31,-0.48,1
56,2022-04-01,잇츠한불,25750,15:04:41,15:11:27,-1.47,17,14:48:00,47,11,1,-0.41,-0.45,2.05,226320.0,24.70,-0.48,1
57,2022-04-01,지에스이,5970,15:11:53,15:13:24,-5.33,18,15:07:00,77,18,0,3.04,6.11,9.94,53050.0,13.07,6.06,0
65,2022-04-04,한신기계,10250,13:19:24,13:30:24,-3.91,8,10:32:00,107,17,1,1.54,1.61,1.18,11700.0,21.02,0.94,0
66,2022-04-04,동양철관,1440,13:32:18,13:45:47,-0.65,9,13:11:00,52,3,1,0.70,0.75,8.07,8970.0,19.50,0.41,1
67,2022-04-04,정산애강,2445,13:46:32,13:51:56,1.85,10,13:46:00,45,21,1,5.82,7.59,12.18,NaN,19274.01,-0.16,0
68,2022-04-04,한국종합기술,8260,13:57:15,13:57:57,-1.86,11,13:54:00,19,7,0,3.79,6.87,10.84,23350.0,15.04,-0.14,0
69,2022-04-04,정산애강,2415,13:58:24,13:59:27,-2.37,12,13:46:00,45,12,0,-1.77,0.85,7.49,NaN,19036.29,-0.16,0
70,2022-04-04,화성밸브,7170,14:03:36,14:06:06,-1.00,13,13:29:00,25,1,3,1.14,0.49,4.55,39610.0,21.53,0.85,0
71,2022-04-04,일동제약,76400,14:06:17,14:11:02,-2.00,14,11:27:00,153,27,3,0.51,0.55,0.90,249420.0,16.64,0.00,1
72,2022-04-04,화성밸브,7290,14:11:21,14:19:56,-1.12,15,13:29:00,25,5,2,2.04,2.41,4.20,39610.0,23.56,0.85,0
73,2022-04-04,정산애강,2375,14:20:00,14:28:33,-3.88,16,13:46:00,45,2,0,1.13,1.76,2.27,NaN,18719.33,-0.16,0
74,2022-04-04,패션플랫폼,2530,14:29:19,14:30:16,-1.29,17,09:16:00,30,5,1,1.26,1.13,1.72,225590.0,18.50,0.94,0
75,2022-04-04,정산애강,2335,14:33:08,14:38:52,-1.58,18,13:46:00,45,3,2,0.26,-0.73,-0.67,NaN,18402.38,-0.16,0
76,2022-04-04,한신기계,10150,14:39:06,15:06:43,-1.97,19,10:32:00,107,37,1,1.24,1.99,2.52,11700.0,19.83,0.94,0
77,2022-04-04,현대바이오,31050,15:06:45,15:08:14,-2.23,20,15:00:00,53,14,0,1.26,3.15,5.39,48410.0,7.81,0.00,1
78,2022-04-04,데이타솔루션,8990,15:09:02,15:12:59,-1.08,21,14:53:00,42,28,3,1.48,2.16,4.27,263800.0,11.68,1.74,1
79,2022-04-04,신영스팩5호,3050,15:13:21,15:32:41,-2.76,22,15:09:00,9,8,1,4.20,10.99,16.64,323280.0,22.98,0.40,0
99,2022-04-08,KCTC,7020,13:51:07,13:51:40,-2.01,9,13:47:00,52,42,0,5.93,7.62,8.70,9070.0,13.23,1.13,1
100,2022-04-08,엠아이텍,10750,13:54:03,14:42:04,2.03,10,13:17:00,155,1,1,-0.28,-0.05,1.08,179290.0,26.77,2.24,1
101,2022-04-08,시너지이노베이션,4530,14:50:09,14:51:09,-0.41,11,12:50:00,51,3,1,0.80,0.83,1.51,48870.0,22.43,0.54,1
102,2022-04-08,시너지이노베이션,4375,15:00:57,15:05:01,-3.13,12,12:50:00,51,5,0,-0.36,-1.52,-2.47,48870.0,18.24,0.54,1
103,2022-04-08,시너지이노베이션,4315,15:05:32,15:13:37,-1.69,13,12:50:00,51,3,0,-0.35,-2.02,-3.58,48870.0,16.62,0.54,1
104,2022-04-08,하인크코리아,3720,15:15:02,09:02:32,10.01,14,15:10:00,43,6,1,1.90,3.33,14.73,373200.0,29.62,-1.05,0
110,2022-04-15,쇼박스,6510,13:41:29,13:43:57,0.16,3,09:18:00,81,1,1,0.62,0.82,0.62,86980.0,14.21,2.11,1
121,2022-04-19,팜스토리,3280,13:49:10,13:50:27,2.14,11,09:14:00,105,14,0,1.22,1.75,3.57,27710.0,8.97,5.15,1
122,2022-04-19,쌍방울,924,13:56:51,14:05:34,2.41,12,09:22:00,91,3,1,1.64,1.70,2.01,102280.0,23.69,0.00,1
123,2022-04-19,광림,2855,14:11:10,14:11:54,0.75,13,14:11:00,66,26,1,3.11,4.92,7.09,14200.0,26.33,-1.33,1
126,2022-04-20,하이스틸,7380,14:07:57,14:09:32,0.11,3,13:19:00,84,4,0,0.79,0.95,4.90,71090.0,24.45,-2.19,1
139,2022-04-28,지에스이,8180,13:13:56,13:15:07,-0.91,3,09:02:00,208,49,0,1.30,3.89,7.49,53050.0,17.02,10.59,1
140,2022-04-28,동일제강,4920,13:22:34,13:22:53,1.00,4,09:51:00,76,1,0,0.05,0.23,-0.52,2690.0,20.15,10.87,1

In [41]:
df['오전장'] = df['매수시간'] < datetime.time(12, 0, 0)
df.head()

,주문일자,종목명,매수가격,매수시간,매도시간,수익률,매매순서,최대거래대금 시간,최대거래대금,직전 거래대금,양봉개수,10이격도,20이격도,60이격도,종목코드,매수등락률,시가등락률,뉴스기사,오전장
0,2022-03-29,고려시멘트,5230,09:09:07,09:21:27,2.57,1,09:06:00,113,63,1,4.38,9.72,13.32,198440.0,16.22,6.22,1,True
1,2022-03-29,고려시멘트,5410,09:28:09,09:32:19,1.55,2,09:06:00,113,16,2,0.93,1.72,11.55,198440.0,20.22,6.22,1,True
2,2022-03-29,영진약품,5490,09:51:11,09:55:24,0.36,3,09:50:00,62,62,1,1.57,1.94,4.43,3520.0,6.60,0.19,1,True
3,2022-03-29,버킷스튜디오,5060,09:58:16,09:59:56,-0.89,4,09:22:00,72,26,0,0.87,2.06,4.17,66410.0,11.58,3.09,1,True
4,2022-03-29,우리바이오,4390,10:00:40,10:00:50,-0.87,5,10:00:00,44,43,3,3.56,4.06,4.23,82850.0,10.86,4.17,1,True

In [42]:
df.tail()

,주문일자,종목명,매수가격,매수시간,매도시간,수익률,매매순서,최대거래대금 시간,최대거래대금,직전 거래대금,양봉개수,10이격도,20이격도,60이격도,종목코드,매수등락률,시가등락률,뉴스기사,오전장
136,2022-04-27,하림,4900,09:29:02,09:29:31,-0.20,3,09:02:00,153,26,2,1.03,0.86,13.94,136480.0,27.11,16.86,1,True
137,2022-04-28,덕신하우징,3425,09:21:54,09:24:32,-1.47,1,09:09:00,135,21,3,2.22,1.57,15.54,90410.0,24.32,19.78,1,True
138,2022-04-28,동일제강,4700,09:27:21,09:27:59,1.83,2,09:06:00,42,5,1,1.04,1.39,8.73,2690.0,14.77,10.87,1,True
139,2022-04-28,지에스이,8180,13:13:56,13:15:07,-0.91,3,09:02:00,208,49,0,1.30,3.89,7.49,53050.0,17.02,10.59,1,False
140,2022-04-28,동일제강,4920,13:22:34,13:22:53,1.00,4,09:51:00,76,1,0,0.05,0.23,-0.52,2690.0,20.15,10.87,1,False